<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo</title>
    <script src="../js/vue.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div id="app"  @contextmenu="showRightClickMenu">
        <p>磁石童鞋们, 大家下午好啊!!!</p>
        <div class="box">
            <button @click="triggerMenu">老板点菜</button>
        </div>
        <div class="box">
            <button @click="triggerIcon">控制小图标</button>
        </div>
        <div class="box">
            <button @click="triggerHide">忍法·隐身术</button>
        </div>
        <div class="box">
            <button @click="triggerTaskBar">是否显示任务栏</button>
        </div>
        <div class="box">
            <button @click="triggerFrame">闪烁任务栏</button>
        </div>
        <div class="box">
            <button @click="triggerProgress">任务栏进度</button>
            <input type="text" v-model="taskbar">
        </div>
        <div class="box">
            <button @click="triggerError">原生windows窗体</button>
            <input type="text" v-model="error">
        </div>
        <div class="box">
            <button @click="triggerTop">窗口置顶</button>
        </div>
        <div class="box">
            <button @click="triggerLink">打开默认浏览器</button>
            <input type="text" v-model="link">
        </div>
        <div class="box">
            <button @click="triggerWindow">打开另外一个窗口</button>
        </div>
        <div class="box textare-box">
            <div class="textare-tip" :class="{ empty: isEmpty, drop: holder, over: isOver }"></div>
            <textarea :class="{ empty: isEmpty || isOver }" v-model="holderText" @dragover="holderOver" @dragleave="dragleave" @drop="drop"></textarea>
        </div>
        <div class="box">
            <button @click="triggerFile">创建文件</button>
            <input type="text" v-model="tmpfile">
        </div>
        <div class="box">
            <button @click="triggerDownload">下载文件</button>
            <input type="text" v-model="downloadPath">
        </div>
        <div class="box">
            <button @click="triggerOpen">打开其他应用</button>
            <input type="text" v-model="application">
        </div>
        <div class="box">
            <button @click="triggerFull">是否全屏</button>
        </div>
        <div class="box">
            <button @click="triggerScroll">更改滚动条样式</button>
        </div>
        <div class="box">
            <button @click="triggerDevTool">打开页面控制台</button>
        </div>
        <div class="box">
            <button @click="triggerReg">注入开机自动执行注册表</button>
        </div>
        <div class="box">
            <button @click="triggerLucky">抽奖</button>
        </div>
    </div>
    <script src="../js/index.js"></script>
</body>
</html>